@use '@/app/styles/mixins' as *;

.container {
  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: var(--navbar-height);
  box-sizing: border-box;
  border-bottom: 1px solid #cccccc;
  background-color: #fafafa;

  @include respond-to('mobile') {
    font-size: 14px;
  }
}

.link-bar {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 10px;

  overflow: scroll;

  @include respond-to('mobile') {
    margin: 0 4px;
  }
}

.active {
  border-color: red;
}
