.button {
  margin: 0 5px;
  padding: 10px;

  border: 1px solid black;
  border-radius: 4px;

  color: white;
  background-color: black;
  text-decoration: none;
  font-weight: bold;

  cursor: pointer;
}
