.user-container {
  display: flex;

  align-items: center;
  margin: 0 8px;

  width: 100px;

  overflow: hidden;
}

.user-img {
  margin-right: 4px;

  width: 40px;
  height: 40px;
}

.user-text {
  font-weight: 700;
  font-size: 16px;

  white-space: nowrap;
}
